<head>
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>

{{>dashboard}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content fluid">
        {{>dashboard-top}}
  
  <div class="container-fluid">

<!--Conteúdo da página ficará aqui-->


 <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          
          <div class="col-lg-12">
            <div class="p-4">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Cadastro de Jovem</h1>
              </div>
              <form action="#" method="POST" class="user">
 
                <div class="form-group">
                  <input type="text" name="nome" id="nome" class="form-control form-control-user" placeholder="Nome Completo*">
                </div>
                <div class="form-group">
                  <input type="text" name="email" id="email" class="form-control form-control-user" placeholder="email*">
                </div>
                <div class="form-group">
                  <input type="text" name="cpf" id="cpf" class="form-control form-control-user" placeholder="cpf*">
                </div>
                <div class="form-group">
                  <input type="number" name="idade" id="idade" class="form-control form-control-user" placeholder="idade*">
                </div>
                <div class="form-group">
                  <input type="text" name="cmis" id="cmis" class="form-control form-control-user" placeholder="cmis">
                </div>
                <div class="form-group">
                  <label>Data de Confirmação:</label><br>
                  <input type="date" name="dataconfirmacao" id="dataconfirmacao" max="2005-12-30"><br>
                </div>
                <div class="form-group">
                  <label>Data de Nascimento*:</label><br>
                  <input type="date" name="datanascimento" id="datanascimento" max="2005-12-30"><br>
                </div>
                <div class="form-group">
                  <input type="text" name="telefone" id="telefone" class="form-control form-control-user" placeholder="Telefone*">
                </div>
                <div form="form-group">
                  <label>Estaca:*</label>
                    <select name="estaca" id="estaca">
                        <option value="Estaca Salvador" selected>Estaca Salvador</option>
                        <option value="Estaca Salvador Norte">Estaca Salvador Norte</option>
                        <option value="Estaca Imbuí">Estaca Imbuí</option>
                        <option value="Estaca Liberdade">Estaca Liberdade</option>
                    </select>
                </div>
                <div class="form-group ">
                  <div>
                  <label>Sexo*:</label>
                  <input type="radio" name="sexo" value="M"> Masculino
                  <input type="radio" name="sexo" value="F"> Feminino
                  </div>
                </div>


                <div class="form-group">
                  <input type="text" name="ala" id="" class="form-control form-control-user" placeholder="Ala">
                </div>
            
            <button type="submit" id="" class=" btn btn-custom  btn-primary ">Cadastrar Jovem</button>
                
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>





<!--FIM do Conteúdo da página-->

        </div>    
      </div>
    </div>

{{>dashboard-bottom}}

  <!-- Bootstrap core JavaScript-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
</body>

